// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 18px;
	font-family: "游ゴシック体", serif;
	font-weight: 500;
}

a {
	background-color: #ebe7b1;
}

.comment-space {
	padding: 10px 25px;
	border: 2px dotted #9cd238;
	font-size: 80%;
}
